# Azure AD認証情報
azure:
  client_id: *****************
  client_secret: *****************
  tenant_id: *****************

# メールボックス情報
mailbox:
  shared_mailbox: sales@offgrid.co.jp
  not_folder: []  # 除外フォルダリスト（例: [Documents, Archive]）
  not_folder_keywords: [迷惑メール, 送信トレイ, 送信済みアイテム, 削除済みアイテム, 三松システムコンサルティング, レンサ, ラグナロク, ユーフォノーツ, マイラップ, ブライトスター, ドリームビジョン, テックリーチ, クロニクル, グラントホープ, キャリアビート, エンジニアのミカタ, エル・フィールド, イチアール]  # フォルダ名が完全一致したら除外（例: ["削除済みアイテム", "通知"]）
  lm_exclude_folders_human: [三松システムコンサルティング, レンサ, ラグナロク, ユーフォノーツ, マイラップ, ブライトスター, ドリームビジョン, テックリーチ, クロニクル, グラントホープ, キャリアビート, エンジニアのミカタ, エル・フィールド, イチアール]  # LM後処理(人材)の対象から除外するフォルダ名（完全一致）
  lm_exclude_folders_case: [三松システムコンサルティング, レンサ, ラグナロク, ユーフォノーツ, マイラップ, ブライトスター, ドリームビジョン, テックリーチ, クロニクル, グラントホープ, キャリアビート, エンジニアのミカタ, エル・フィールド, イチアール]  # LM後処理(案件)の対象から除外するフォルダ名（完全一致）
  db_path: mails.db

# 処理実行フラグ（CLI未指定時に適用、CLI指定時はCLIを優先）
processes:
  mail_fetch: true
  lm_postprocess_human: true
  lm_postprocess_case: true
  matching: true
  delete_old: true
  csv_export: true

# SES分類キーワード
ses:
  project_keywords: [案件, 募集, 急募, 増員, 交代枠]
  talent_keywords: [人材, 要員, プロパー,技術者, 要員, エンジニア, 稼働可能, 参画可能, 待機, 空き, フリーランス, 即戦力]
  unclassified_log_path: unclassified.log
  log_path: "app.log"
